{
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "conventionalcommits"
            }
        ],
        [
            "@semantic-release/release-notes-generator",
            {
                "preset": "conventionalcommits"
            }
        ],
        [
            "@semantic-release/npm",
            {
                "pkgRoot": "./client",
                "npmPublish": true
            }
        ],
        "@semantic-release/github",
        "@semantic-release/changelog",
        [
            "@semantic-release/git",
            {
                "assets": [
                    "CHANGELOG.md",
                    "client/package.json",
                    "client/package-lock.json"
                ]
            }
        ]
    ]
}
